# Site
PUBLIC_SITE_URL=https://example.com
PUBLIC_SITE_NAME="My Site"
PUBLIC_SITE_DESCRIPTION="Your site description"
PUBLIC_SITE_IMAGE=

# Analytics (optional)
PUBLIC_GA_ID=
PUBLIC_MATOMO_BASE_URL=https://stats.redirection.com.au
PUBLIC_MATOMO_SITE_ID=11
